<nav>
    <div class="navbar-left">
        <ul>
            <li><a href="{% url 'home:index' %}">HOME</a></li>
            <div class="navbar-search">
                <form action="#">
                    {% csrf_token %}
                    <input 
                        type="text"
                        placeholder="Search videos"
                        name="videoSameSearch"
                    >
                    <input type="submit" value="search">
                </form>
            </div>
        </ul>
    </div>
    <div class="navbar-right">
        <ul>
            {% if acount_id %}
                <li><a href="">{{ user.name }}</a></li>
                <li><a href="">Log out</a></li>
            {% else %}
                <li><a href="{% url 'acount:login' %}">Log in</a></li>
                <li><a href="{% url 'acount:signup' %}">Sign up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<section class="main-container">
    <div class="main-container_video">
        <div class="main-video">
            <video height="250" width="500" controls>
                <source src="{{ video_selected.path }}" type="video/mp4">
            </video>
            <h4>{{ video_selected.title }}</h4>
        </div>

        <div class="main-comments">
            <h3>Comments</h3>
        </div>
    </div>

    <div class="main-container_videos-list">
        {% for video in videos_list %}
            <a href="{% url 'home:detail' video.id %}">
                <div class="cards-container">
                    <video height="100" width="200">
                        <source src="{{ video.path }}" type="video/mp4">
                    </video>
                    <h5>{{ video.title }}</h5>
                </div>
            </a>
        {% endfor %}
    </div>
</section>
