{% load static %}
<link rel="stylesheet" href="{% static 'css/indexStyles.css' %}">
<nav>
    <div class="navbar-left">
        <ul>
            <li><a href="{% url 'home:index' %}">HOME</a></li>
            <div class="navbar-search">
                <form action="{% url 'home:search' %}">
                    {% csrf_token %}
                    <input 
                        type="text"
                        placeholder="Search videos"
                        name="search-navbar"
                        id="search-navbar"
                    >
                    <input type="submit" value="search">
                </form>
            </div>
        </ul>
    </div>
    <div class="navbar-right">
        <ul>
            {% if acount_id %}
                <li><a href="">{{ user.name }}</a></li>
                <li><a href="">Log out</a></li>
            {% else %}
                <li><a href="{% url 'acount:login' %}">Log in</a></li>
                <li><a href="{% url 'acount:signup' %}">Sign up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<section class="main-container">
    {% if videos_list %}
        {% for video in videos_list %}
            <div class="cards-container">
                <a href="{% url 'home:detail' video.id %}">
                    <div class="video-card">
                        <video height="140" width="240">
                            <source src="{{ video.path }}" type="video/mp4">
                        </video>
                        
                        <div class="video-info">
                            <div>
                                <p>{{ video.title }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <h3>No videos are avaiable. :(</h3>
    {% endif %}
</section>
